@{
    Layout = "_AdminLayout";
}

@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<sliderTable>

@{
    DateTime Zaman = DateTime.Now;
    string editZaman = Zaman.ToString("dd MMMM yyyy dddd , H:mm"); // h: 6:35 , H : 18:35

    /**
    * Tarih Yazılışı
    * ! Yazılış Şekli Sonuç
    * ? DateTime.Now.ToString(“MM/dd/yyyy”) 05/29/2015
    * * DateTime.Now.ToString(“dd MMMM yyyy”) 29 May 2015
    * ? DateTime.Now.ToString(“yyyy MMMM dd”) 2015 May 29
    **/

    /**
    * Saat Yazılışı
    * ! Yazılış Şekli Sonuç
    * * DateTime.Now.ToString(“H:mm”) 5:50
    * ? DateTime.Now.ToString(“h:mm tt”) 5:50 AM
    * ? DateTime.Now.ToString(“HH:mm:ss”) 05:50:32
    * ? DateTime.Now.ToString(“hh:mm:ss tt”) 05:50:32 AM
    **/
}
<div class="card mb-3 bg-dark">
    <div class="card-header">
        <i class="fa-solid fa-table" style="color: white;"></i>
        <span class="text-white">Slider Listesi</span>
    </div>
    <div class="card-body bg-secondary">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter mt-1"><label class="text-dark mb-2 ">Ara
                                :<input type="search" class="form-control form-control-sm" placeholder=""
                                    aria-controls="dataTable"></label><a href="#"><i
                                    class="ms-2 fa-solid fa-magnifying-glass me-1" style="color: #000000;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="text-white text-center" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 54px;">id
                                    </th>
                                    <th class="text-center text-white" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending"
                                        style="width: 65px;">
                                        Slider Başlık</th>
                                    <th class="text-white text-center" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending"
                                        style="width: 48px;">
                                        Slider Açıklama</th>
                                        <th class="text-white text-center" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending"
                                        style="width: 48px;">
                                        Şehir Id</th>
                                    <th class="text-white text-center" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending"
                                        style="width: 30px;">Resim
                                    </th>
                                    <th class="text-white text-center" tabindex="0" aria-controls="dataTable"
                                        rowspan="1" colspan="1"
                                        aria-label="Start date: activate to sort column ascending" style="width: 67px;">
                                        İşlemler</th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td class="align-middle text-white text-center">@item.Id</td>
                                        <td class="align-middle text-center">@item.SliderBaslik</td>
                                        <td class="align-middle text-center">@item.SliderAciklama</td>
                                        <td class="align-middle text-warning text-center">@item.sehirId</td>
                                        <td class="align-middle text-center">
                                            <img width="75px;" src="~/img/@item.SliderResim" alt="">
                                        </td>
                                        <td class="align-middle text-center">
                                            <a class="btn btn-outline-danger" href="/Admin/SliderSil/@item.Id">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                            <a class="btn btn-outline-success me-3" href="/Admin/SliderGuncelle/@item.Id">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("SliderListele", new { page }),new
                X.PagedList.Web.Common.PagedListRenderOptions {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>
    </div>
    <div class="card-footer small text-whitr">Son Güncelleme : <i> @editZaman <i class="fa-regular fa-clock fa-spin"
                style="color: white;"></i> </i></div>
</div>